* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
  margin-top: 20px;
  background-color: red;
}

.bg-white {
  background-color: white;
}

.box-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding-bottom: 20px;
}

.int-info {
  padding-left: 15px;
}

li {
  list-style-type: none;
}

.list-skills li.list-list {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

.list-skills li.list-list:not(:first-of-type) {
  border-top: 1px solid #e0e0e0;
}

.list-spec {
  list-style-type: none;
}

.card {
  border: none;
  border-top: 1px solid #e0e0e0;
  border-radius: 0px !important;
}

.card:last-child {
  border-bottom: 1px solid #e0e0e0;
}

.card:hover {
  background-color: #e0f2f1;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (max-width: 576px) {
  body {
    margin-top: 0;
  }
}
