.text-center {
  text-align: center;
}

.text-about-me {
  color: white;
  font-size: 14px;
}

.text-large {
  font-size: 20px;
}

.text-middle {
  font-size: 18px;
}

.text-date {
  color: #0099CC;
}

.text-semi-bold {
  font-weight: 500;
}

.fa-contact {
  color: white;
  font-size: 24px;
}

.fa-large {
  font-size: 50px;
}

.skills-title {
  color: #37474F;
  font-weight: 500;
  font-size: 17px !important;
}
